@model CardGameLib.Game
@{
    ViewData["Title"] = "Game Waiting To Start";
}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Game: @Model.GameId</h1>
            <p class="lead">Waiting for additional players to join</p>
        </div>
    </div>




<h4>Players:</h4>
<ul class="list-group list-group-flush">
    @foreach(var p in Model.Players)
    {
        <li class="list-group-item">@p.Name</li>
    }
</ul>

@if (ViewBag.IsHost)
{
    <hr />
    <a class="btn btn-primary" href="@Url.Action("StartGame",new { Id = Model.GameId, PlayerId=(Model.Host as HumanPlayer).Guid.ToString() })">Start Game!</a>
}

<script>
    setTimeout(function(){ window.location.reload(1);}, 5000);
</script>