@using CardGameLib;
@model GameViewModel
@{
    ViewData["Title"] = "Card Game";
}

<h2>Your turn</h2>
<h3>Table, Decide where to pick up?</h3>

<div class="row cardtable">
    @using (Html.BeginForm("PickUp", "Game", FormMethod.Post))
    {
        <input type="hidden" name="GameState" value="@Model.Game.SerializeGame()"/>
        <button name="Source" value="Deck" class="card">
            <img src="~/images/Cards/back.png" class="card selectablecard" />
        </button>
        <button name="Source" value="Table" class="card">
            <img src="~/images/Cards/@Model.Game.Table.Last().FileName()" class="card selectablecard" />
        </button>

        <button name="Source" value="Knock">Knock</button>
    }
</div>

<h3>Your hand ( @Model.Game.NextPlayer.Hand.CalculateScore())</h3>

<div class="row">
    @foreach(var c in Model.Game.NextPlayer.Hand)
    {
        <img src="~/images/Cards/@c.FileName()" class="card"/>
    }

</div>
