@using CardGameLib;
@model GameViewModel
@{
    ViewData["Title"] = "Card Game";
}

<h2>Your turn</h2>
<h3>Table, what do you want to do?</h3>

<div class="row cardtable">
    @using (Html.BeginForm("PickUp", "Game", FormMethod.Post))
    {
        <input type="hidden" name="GameState" value="@Model.Game.SerializeGame()"/>
        <input type="image" name="Action" value="TakeFromDeck" src="~/images/Cards/back.png" class="card selectablecard" />
        <input type="image" name="Action" value="TakeFromTable" src="~/images/Cards/@Model.Game.Table.Last().FileName()" class="card selectablecard" />
        <input type="image" name="Action" value="Knock" src="~/images/knock.png" class="card selectablecard" title="Knock"/>
    }
</div>

<h3>Your hand (@Model.Game.NextPlayer.Hand.CalculateScore())</h3>

<div class="row">
    @foreach(var c in Model.Game.NextPlayer.Hand)
    {
        <img src="~/images/Cards/@c.FileName()" class="card"/>
    }

</div>
