@model GameViewModel

@{
    ViewData["Title"] = "PickUp";
}

    <div class="container">
        <h2>Your turn</h2>


        <h3>Your hand, which card to drop?</h3>

        <div class="row">


            @foreach (var c in Model.Game.NextPlayer.Hand)
            {

                <a href="@Url.Action("Drop","Game",new {Selection=@Model.Game.NextPlayer.Hand.IndexOf(c), Id=Model.Game.GameId, PlayerId=Model.You.Guid.ToString() })">
                    <img src="~/images/Cards/@c.FileName()" class="card selectablecard" />
                </a>
            }

        </div>
    </div>