@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Rules of the game</p>

<ul>
    <li>Each player get’s 3 cards</li>
    <li>Ace counts as 11, Jacks, Queens and Kings as 10, the rest as their value.</li>
    <li>First player to reach 31 in same suit wins</li>
    <li>Players take turns picking up / dropping cards from the Deck or the table</li>
    <li>A player can knock (call) in stead of taking a turn if they think they have a higher score than the others</li>
</ul>
