@model CardGameWeb2.Models.GameViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Game</h2>

<div class="row">
    <img src="~/Content/Cards/back.png" style="height:200px" />
    <img src="~/Content/Cards/@Model.CurrentGame.Table." style="height:200px"/>
</div>
<h3>Your hand</h3>
<div class="row">
    
</div>